.switch-config__background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-config__dialog {
    background: lightgrey;
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 50%;
}

.switch-config__footer {
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
}

.switch-config__footer button + button {
    margin-left: 10px;
}

.switch-config__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-config__header button {
    margin-right: 10px;
    background: none;
}