.switch-form__row {
    display: flex;
}

.switch-form__control label {
    display: inline-block;
    margin-bottom: 10px;
}

.switch-form__control + .switch-form__control {
    margin-left: 10px;
}

.switch-form__control input {
    width: 70px;
}

.switch-form__control button + button {
    margin-left: 10px;
}